Repository ywchiu/cdc_modelhub, changes with the owners that docs/CODEOWNERS names for each.
All owners: @cdc-modeling-hub/maintainers, @cdc-modeling-hub/data-managers, @cdc-modeling-hub/doc-team, @cdc-modeling-hub/admin-team, @cdc-modeling-hub/frontend-team, @cdc-modeling-hub/r-developers, @cdc-modeling-hub/sysadmin-team, @cdc-modeling-hub/security-team, @team-ntu, @team-ncku, @team-nthu, @cdc-modeling-hub/legal-team

add instruction
  INSTRUCTION.md
Owners: @cdc-modeling-hub/doc-team

add readme and instruction
  INSTRUCTION.md
  README.md
Owners: @cdc-modeling-hub/doc-team

Update README.md
  README.md
Owners: @cdc-modeling-hub/doc-team

add readme and instruction
  README.md
Owners: @cdc-modeling-hub/doc-team

20251818 data
  data/20251218.csv
Owners: @cdc-modeling-hub/data-managers

Auto commit 2025-12-18 11:37
  data/20251219.csv
Owners: @cdc-modeling-hub/data-managers

add hello.md
  HELLO.md
Owners: @cdc-modeling-hub/doc-team

add action
  .github/workflows/hello-world.yml
Owners: @cdc-modeling-hub/admin-team

add action
  HELLO.md
Owners: @cdc-modeling-hub/doc-team

Simplify CSV validation process
  .github/workflows/validate-csv.yml
Owners: @cdc-modeling-hub/admin-team

add validation
  validate_csv.py
Owners: @cdc-modeling-hub/maintainers

add local change
  auto_push.sh
Owners: @cdc-modeling-hub/maintainers

revise file
  data/20251219.csv
Owners: @cdc-modeling-hub/data-managers

feat(api) 新增測試腳本
  test.py
Owners: @cdc-modeling-hub/maintainers

add production
  test.py
Owners: @cdc-modeling-hub/maintainers

add testing test.py
  test.py
Owners: @cdc-modeling-hub/maintainers

add .gitignore
  .gitignore
Owners: @cdc-modeling-hub/maintainers

Auto commit 2025-12-18 16:30
  data/202512220.csv
Owners: @cdc-modeling-hub/data-managers

add local change
  .gitignore
  test.py
Owners: @cdc-modeling-hub/maintainers

新增開發輔助文件與測試資源
  CLAUDE.md
  md
  testing.sh
Owners: @cdc-modeling-hub/doc-team, @cdc-modeling-hub/maintainers

Auto commit 2025-12-18 16:56
  data/20251221.csv
Owners: @cdc-modeling-hub/data-managers

Auto commit 2025-12-18 16:57
  data/bad.csv
Owners: @cdc-modeling-hub/data-managers

add validate
  validate_csv.py
Owners: @cdc-modeling-hub/maintainers

Auto commit 2025-12-18 17:02
  data/bad2.csv
Owners: @cdc-modeling-hub/data-managers

add validate
  validate_csv.py
Owners: @cdc-modeling-hub/maintainers

Auto commit 2025-12-18 17:04
  data/bad3.csv
Owners: @cdc-modeling-hub/data-managers

docs/CODEOWNERS:

# CODEOWNERS 檔案
# 此檔案定義了各個檔案和目錄的程式碼擁有者
# 當有 Pull Request 影響這些檔案時，會自動指派審查者

# 全域擁有者 - 所有檔案都需要 maintainers 團隊審核
* @cdc-modeling-hub/maintainers

# 資料檔案需要資料管理員審核
/data-processed/ @cdc-modeling-hub/data-managers
/validation/ @cdc-modeling-hub/data-managers
*.csv @cdc-modeling-hub/data-managers

# 文件需要文件團隊審核  
*.md @cdc-modeling-hub/doc-team
/docs/ @cdc-modeling-hub/doc-team

# GitHub 設定需要管理員審核
/.github/ @cdc-modeling-hub/admin-team
/.github/workflows/ @cdc-modeling-hub/admin-team

# 網站相關檔案需要前端團隊審核
/templates/ @cdc-modeling-hub/frontend-team
*.html @cdc-modeling-hub/frontend-team
*.css @cdc-modeling-hub/frontend-team
*.js @cdc-modeling-hub/frontend-team
/_quarto.yml @cdc-modeling-hub/frontend-team

# R 腳本需要 R 開發團隊審核
*.R @cdc-modeling-hub/r-developers
/scripts/ @cdc-modeling-hub/r-developers

# 備份和復原腳本需要系統管理員審核
/scripts/backup* @cdc-modeling-hub/sysadmin-team
/scripts/disaster_recovery* @cdc-modeling-hub/sysadmin-team
DISASTER_RECOVERY.md @cdc-modeling-hub/sysadmin-team

# 安全相關檔案需要安全團隊審核
/security/ @cdc-modeling-hub/security-team
*.key @cdc-modeling-hub/security-team
*.pem @cdc-modeling-hub/security-team

# 特定模型的擁有者 (範例)
/forecasts/*ntu*/ @team-ntu
/forecasts/*ncku*/ @team-ncku
/forecasts/*nthu*/ @team-nthu

# 設定檔需要管理員審核
*.yml @cdc-modeling-hub/admin-team
*.yaml @cdc-modeling-hub/admin-team
*.json @cdc-modeling-hub/admin-team
*.toml @cdc-modeling-hub/admin-team

# 授權和法律文件需要法務審核
LICENSE @cdc-modeling-hub/legal-team
CONTRIBUTING.md @cdc-modeling-hub/legal-team
